{% extends 'base.html' %}

{% load static %}

{% block title %} Home Page {% endblock title %}

{% block content %}

{% include 'includes/header.html' %}

<div class="p-8 bg-gradient-to-tr from-footer-blue to-footer-green bg-green-500">
  <h1 class="text-2xl text-white font-semibold">Об Азиатской конфедерации белбогли кураш</h1>
</div>


<div class="px-8 pt-8">
  <p>
    Азиатская конфедерация белбогли кураш была создана инициативной группой на учредительном конгрессе, состоявшемся в городе Коканд Республики Узбекистан 25 мая 2022 года. В том же году конфедерация была зарегистрирована в Министерстве юстиции Узбекистана.<br><br>
    Инициаторы создания конфедерации:<br><br>
    Федерация Белбогли кураш Узбекистана;<br><br>
    Азиатско-Океанская конфедерация борьбы.<br><br>
    На учредительном конгрессе конфедерации приняли участие представители Узбекистана, Таджикистана, Индии, Кыргызстана, Монголии, Казахстана, Литвы, Израиля.<br><br>
    Конфедерация является независимой неправительственной некоммерческой организацией, созданной юридическими лицами в целях развития спорта белбогли кураш, его широкой популяризации и защиты прав и законных интересов ее членов. Организационно-правовой формой является ассоциация. Она отвечает за развитие этого вида спорта и помогает регулировать его правила.<br><br>
    Конфедерация открыта для всех организаций и видов спорта, желающих продвигать спортивный вид белбогли кураш и сотрудничать с ней.<br><br>
    Конфедерация осуществляет свою деятельность преимущественно на территории островов и полуостровов, расположенных на азиатском континенте, в Тихом и Индийском океанах.<br><br>
    Целью конфедерации является продвижение и защита спорта белбогли кураш и ее ценностей на азиатском континенте.<br><br>
    Членами Конфедерации могут стать национальные федерации борьбы на поясах, признающие Устав Конфедерации и соблюдающие требования Устава и способствующие развитию этого вида спорта. Членом Конфедерации может быть только одна федерация от каждой страны. Принятие в состав Конфедерации осуществляется Конгрессом.<br><br>
    Конфедерация состоит из консульств и филиалов. Руководящим органом Конфедерации является Конгресс, который является высшим руководящим органом. Исполнительным органом конфедерации является Исполнительный комитет. Конфедерацию возглавляет Президент.<br><br>
    Президент Конфедерации избирается Конгрессом и подотчетен ему.<br><br>
    Контроль за финансово-хозяйственной деятельностью Конгресса и целевым расходованием его средств осуществляет Контрольно-ревизионная комиссия, избираемая Конгрессом.<br><br>
    Генеральный секретарь Конгресса назначается Президентом.<br><br>
    Президентом Конфедерации с 2022 года является Моминходжа Муратов.<br><br>
    Всемирная ассоциация белбогли кураш и Европейская конфедерация белбогли кураш также активно популяризируют этот вид спорта в мире.
  </p>
</div>


<div class="px-8 py-8 text-xl text-gray-500 flex flex-col justify-center items-center">
  <h1 class="uppercase mb-4">Следите за новостями</h1>
  <div class="flex items-center space-x-2 text-white">
    <a class="w-12 h-12 flex justify-center items-center bg-footer-green" href=""><ion-icon name="logo-instagram"></ion-icon></a>
    <a class="w-12 h-12 flex justify-center items-center bg-footer-green" href=""><ion-icon name="logo-instagram"></ion-icon></a>
    <a class="w-12 h-12 flex justify-center items-center bg-footer-green" href=""><ion-icon name="logo-instagram"></ion-icon></a>
    <a class="w-12 h-12 flex justify-center items-center bg-footer-green" href=""><ion-icon name="logo-instagram"></ion-icon></a>
    <a class="w-12 h-12 flex justify-center items-center bg-footer-green" href=""><ion-icon name="logo-instagram"></ion-icon></a>
  </div>
</div>

{% include 'includes/footer.html' %}

{% endblock content %}
