{% load i18n %}
{% load static %}

<footer class="py-12 hidden xl:flex text-white bg-gradient-to-tr from-custom-blue to-custom-green bg-green-500">
  <div class="container px-10 mx-auto">
    <div class="flex flex-wrap">

      <div class="space-y-3 w-full md:w-1/4 px-4 my-2">
        <h2 class="text-lg font-bold uppercase">{% trans 'о нас' %}</h2>
        <ul class="space-y-1">
          <li><a href="{% url 'about_confederation' %}" class="hover:underline">{% trans 'о азиатской конфедерации белбогли кураш' %}</a></li>
          <li><a href="{% url 'about_guides' %}" class="hover:underline">{% trans 'руководства' %}</a></li>
          <li><a href="{% url 'about_documents' %}" class="hover:underline">{% trans 'учредительные документы' %}</a></li>
          <li><a href="{% url 'about_regulations' %}" class="hover:underline">{% trans 'устав' %}</a></li>
          <li><a href="{% url 'about_symbols' %}" class="hover:underline">{% trans 'символы азиатской конфедерации белбогли кураш' %}</a></li>
          <li><a href="{% url 'about_membership' %}" class="hover:underline">{% trans 'членство в конфедерации' %}</a></li>
        </ul>
      </div>

      <div class="space-y-4 w-full md:w-1/4 px-4 my-2">
        <div class="space-y-3">
          <h2 class="text-lg font-bold uppercase">{% trans 'белбогли кураш' %}</h2>
          <ul class="space-y-1">
            <li><a href="{% url 'kurash_history' %}" class="hover:underline">{% trans 'история белбогли кураш' %}</a></li>
            <li><a href="{% url 'kurash_rules' %}" class="hover:underline">{% trans 'правила белбогли кураш' %}</a></li>
            <li><a href="{% url 'kurash_provisions' %}" class="hover:underline">{% trans 'положения' %}</a></li>
            <li><a href="" class="hover:underline">{% trans 'антидопинг' %}</a></li>
          </ul>
        </div>
        <div class="space-y-3">
          <h2 class="text-lg font-bold uppercase">{% trans 'галерея' %}</h2>
          <ul class="space-y-1">
            <li><a href="#" class="hover:underline">{% trans 'видео' %}</a></li>
            <li><a href="#" class="hover:underline">{% trans 'фото' %}</a></li>
          </ul>
        </div>
      </div>

      <div class="space-y-4 w-full md:w-1/4 px-4 my-2">
        <div class="space-y-3">
          <h2 class="text-lg font-bold uppercase">{% trans 'соревнования' %}</h2>
          <ul class="space-y-1">
            <li><a href="{% url 'competition_calendars' %}" class="hover:underline">{% trans 'календарь соревнований' %}</a></li>
            <li><a href="{% url 'competition_reports' %}" class="hover:underline">{% trans 'протоколы соревнований' %}</a></li>
            <li><a href="{% url 'competition_documents' %}" class="hover:underline">{% trans 'документы о соревнованиях' %}</a></li>
          </ul>
        </div>
        <div class="space-y-3">
          <h2 class="text-lg font-bold uppercase">{% trans 'мероприятия' %}</h2>
          <ul class="space-y-1">
            <li><a href="{% url 'events_announcements' %}" class="hover:underline">{% trans 'анонс' %}</a></li>
            <li><a href="" class="hover:underline">{% trans 'мероприятия' %}</a></li>
            <li><a href="" class="hover:underline">{% trans 'сми о нас' %}</a></li>
          </ul>
        </div>
      </div>

      <div class="space-y-4 w-full md:w-1/4 px-4 my-2">
        <div class="space-y-3">
          <h2 class="text-lg font-bold uppercase">Юридический адрес</h2>
          <div>
            <span>индекс: 111703, Республика Узбекистан, Ташкентская область, город Чирчик, ул. Х.Максудова, д. №3.</span>
          </div>
        </div>
        <div class="space-y-3">
          <h2 class="text-lg font-bold uppercase">{% trans 'контакты' %}</h2>
          <ul class="space-y-1">
            <li><a href="#" class="hover:underline">(+998) 90 123 45 67</a></li>
            <li><a href="#" class="hover:underline">(+998) 97 123 45 67</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>


<footer class="py-10 xl:hidden text-white bg-gradient-to-tr from-custom-blue to-custom-green bg-green-500">
  <div class="container px-8 mx-auto">
    <div class="flex flex-wrap">

      <div class="w-full md:w-1/4 px-4 my-2">
        <ul class="space-y-2 uppercase text-md font-semibold">
          <li><a href="{% url 'about_confederation' %}" class="hover:underline">{% trans 'о нас' %}</a></li>
          <li><a href="{% url 'kurash_history' %}"hover:underline">{% trans 'белбогли кураш' %}</a></li>
          <li><a href="#" class="hover:underline">{% trans 'галерея' %}</a></li>
          <li><a href="{% url 'competition_calendar' %}" class="hover:underline">{% trans 'соревнования' %}</a></li>
          <li><a href="{% url 'events_announcements' %}" class="hover:underline">{% trans 'мероприятия' %}</a></li>
          <li><a href="#" class="hover:underline">{% trans 'контакты' %}</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
