{% load static %}

<footer class="px-14 py-12 flex items-start justify-between text-white bg-gradient-to-tr from-footer-blue to-footer-green bg-green-500">

  <div class="flex flex-col space-y-4">
    <span class="font-semibold uppercase">О нас</span>
    <div class="flex flex-col text-sm">
      <a href="">О Азиатской конфедерации белбогли кураш</a>
      <a href="">Руководства</a>
      <a href="">Учредительные документы</a>
      <a href="">Устав</a>
      <a href="">Символы Азиатской конфедерации белбогли кураш</a>
      <a href="">Членство в конфедерации</a>
    </div>
  </div>
  <div class="flex flex-col space-y-4">
    <div class="flex flex-col space-y-2">
      <span class="font-semibold uppercase">Белбогли кураш</span>
      <div class="flex flex-col text-sm">
        <a href="">История белбогли кураш</a>
        <a href="">Правила белбогли кураш</a>
        <a href="">Положения</a>
        <a href="">Антидопинг</a>
      </div>
    </div>
    <div class="flex flex-col space-y-2">
      <span class="font-semibold uppercase">Галерея</span>
      <div class="flex flex-col text-sm">
        <a href="">Видео</a>
        <a href="">Фото</a>
      </div>
    </div>
  </div>
  <div class="flex flex-col space-y-4">
    <div class="flex flex-col space-y-2">
      <span class="font-semibold uppercase">Соревнования</span>
      <div class="flex flex-col text-sm">
        <a href="">Календарь соревнований</a>
        <a href="">Протоколы соревнований</a>
        <a href="">Документы о соревнованиях</a>
      </div>
    </div>
    <div class="flex flex-col space-y-2">
      <span class="font-semibold uppercase">Контакты</span>
      <div class="flex flex-col text-sm">
        <a href="">Контактная связь</a>
      </div>
    </div>
  </div>
  <div class="flex flex-col space-y-2">
    <span class="font-semibold uppercase">Мероприятия</span>
    <div class="flex flex-col text-sm">
      <a href="">Анонс</a>
      <a href="">Мероприятия</a>
      <a href="">СМИ о нас</a>
    </div>
  </div>

  <div class="flex flex-col space-y-4">
    <div class="flex flex-col space-y-2">
      <span class="font-semibold uppercase">Юридический адрес:</span>
      <div class="flex flex-col text-sm">
        <span>индекс: 111703, Республика Узбекистан,</span>
        <span>Ташкентская область, город Чирчик, ул. </span>
        <span>Х.Максудова, д. №3.</span>
      </div>
    </div>
    <span class="font-semibold uppercase">Контакты</span>
    <div class="flex flex-col text-sm">
      <span>(+998) 90 123 45 67</span>
      <span>(+998) 97 123 45 67</span>
    </div>
  </div>

</footer>
