{% load static %}


<footer class="py-12 text-white bg-gradient-to-tr from-footer-blue to-footer-green bg-green-500">
  <div class="container px-10 mx-auto">
    <div class="flex flex-wrap">

      <div class="space-y-3 w-full md:w-1/4 px-4 my-2">
        <h2 class="text-lg font-bold uppercase">О нас</h2>
        <ul class="space-y-1">
          <li><a href="#" class="hover:underline">О Азиатской конфедерации белбогли кураш</a></li>
          <li><a href="#" class="hover:underline">Руководства</a></li>
          <li><a href="#" class="hover:underline">Учредительные документы</a></li>
          <li><a href="#" class="hover:underline">Устав</a></li>
          <li><a href="#" class="hover:underline">Символы Азиатской конфедерации белбогли кураш</a></li>
          <li><a href="#" class="hover:underline">Членство в конфедерации</a></li>
        </ul>
      </div>

      <div class="space-y-4 w-full md:w-1/4 px-4 my-2">
        <div class="space-y-3">
          <h2 class="text-lg font-bold uppercase">Белбогли кураш</h2>
          <ul class="space-y-1">
            <li><a href="#" class="hover:underline">История белбогли кураш</a></li>
            <li><a href="#" class="hover:underline">Правила белбогли кураш</a></li>
            <li><a href="#" class="hover:underline">Положения</a></li>
            <li><a href="#" class="hover:underline">Антидопинг</a></li>
          </ul>
        </div>
        <div class="space-y-3">
          <h2 class="text-lg font-bold uppercase">Галерея</h2>
          <ul class="space-y-1">
            <li><a href="#" class="hover:underline">Видео</a></li>
            <li><a href="#" class="hover:underline">Фото</a></li>
          </ul>
        </div>
      </div>

      <div class="space-y-4 w-full md:w-1/4 px-4 my-2">
        <div class="space-y-3">
          <h2 class="text-lg font-bold uppercase">Соревнования</h2>
          <ul class="space-y-1">
            <li><a href="#" class="hover:underline">Календарь соревнований</a></li>
            <li><a href="#" class="hover:underline">Протоколы соревнований</a></li>
            <li><a href="#" class="hover:underline">Документы о соревнованиях</a></li>
          </ul>
        </div>
        <div class="space-y-3">
          <h2 class="text-lg font-bold uppercase">Мероприятия</h2>
          <ul class="space-y-1">
            <li><a href="#" class="hover:underline">Анонс</a></li>
            <li><a href="#" class="hover:underline">Мероприятия</a></li>
            <li><a href="#" class="hover:underline">СМИ о нас</a></li>
          </ul>
        </div>
      </div>

      <div class="space-y-4 w-full md:w-1/4 px-4 my-2">
        <div class="space-y-3">
          <h2 class="text-lg font-bold uppercase">Соревнования</h2>
          <ul class="space-y-1">
            <li><a href="#" class="hover:underline">Календарь соревнований</a></li>
            <li><a href="#" class="hover:underline">Протоколы соревнований</a></li>
            <li><a href="#" class="hover:underline">Документы о соревнованиях</a></li>
          </ul>
        </div>
        <div class="space-y-3">
          <h2 class="text-lg font-bold uppercase">Мероприятия</h2>
          <ul class="space-y-1">
            <li><a href="#" class="hover:underline">Анонс</a></li>
            <li><a href="#" class="hover:underline">Мероприятия</a></li>
            <li><a href="#" class="hover:underline">СМИ о нас</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>
