{% load static %}
{% load i18n %}

<header class="h-32 px-8 flex justify-between items-center">
  <div>
    <a href="{% url 'home_page' %}">
      {% get_current_language as LANGUAGE_CODE %}
      <img class="w-52" src="{% static 'img/logo/logo_'|add:LANGUAGE_CODE|add:'.png' %}" alt="Logo">
    </a>
  </div>
  <nav class="hidden xl:flex uppercase space-x-6">
    <div class="flex items-center justify-center">
      <div class="relative group cursor-pointer">
        <a href="{% url 'about_confederation' %}" class="p-4 font-medium transition duration-300 hover:bg-gray-100">о нас</a>
        <div class="space-y-2 absolute z-50 p-4 mt-4 text-sm font-semibold shadow-xl opacity-0 translate-y-2 transition-all
                    w-max duration-300 ease-in-out invisible group-hover:visible group-hover:opacity-100 group-hover:translate-y-0
                    flex flex-col bg-white text-gray-500">
            <a href="{% url 'about_confederation' %}" class="block border-b border-gray-200 py-2 hover:text-custom-green">о азиатской конфедерации белбогли кураш</a>
            <a href="{% url 'about_guides' %}" class="block border-b border-gray-200 py-2 hover:text-custom-green">руководства</a>
            <a href="{% url 'about_documents' %}" class="block border-b border-gray-200 py-2 hover:text-custom-green">учредительные документы</a>
            <a href="{% url 'about_regulations' %}" class="block border-b border-gray-200 py-2 hover:text-custom-green">устав</a>
            <a href="{% url 'about_symbols' %}" class="block border-b border-gray-200 py-2 hover:text-custom-green">символы азиатской конфедерации белбогли кураш</a>
            <a href="{% url 'about_membership' %}" class="block py-2 hover:text-custom-green">членство в конфедерации</a>
        </div>
      </div>
      <div class="relative group cursor-pointer">
        <a href="{% url 'kurash_history' %}" class="p-4 font-medium transition duration-300 hover:bg-gray-100">белбогли кураш</a>
        <div class="space-y-2 absolute z-50 p-4 mt-4 text-sm font-semibold shadow-xl opacity-0 translate-y-2
                    transition-all w-max duration-300 ease-in-out invisible group-hover:visible group-hover:opacity-100
                    group-hover:translate-y-0 flex flex-col bg-white text-gray-500">
            <a href="{% url 'kurash_history' %}" class="block border-b border-gray-200 py-2 hover:text-custom-green">история белбогли кураш</a>
            <a href="{% url 'kurash_rules' %}" class="block border-b border-gray-200 py-2 hover:text-custom-green">правила белбогли кураш</a>
            <a href="" class="block border-b border-gray-200 py-2 hover:text-custom-green">положения</a>
            <a href="" class="block py-2 hover:text-custom-green">антидопинг</a>
        </div>
      </div>
      <div class="relative group cursor-pointer">
        <a href="" class="p-4 font-medium transition duration-300 hover:bg-gray-100">соревнования</a>
        <div class="space-y-2 absolute z-50 p-4 mt-4 text-sm font-semibold shadow-xl opacity-0 translate-y-2
                    transition-all w-max duration-300 ease-in-out invisible group-hover:visible group-hover:opacity-100
                    group-hover:translate-y-0 flex flex-col bg-white text-gray-500">
            <a href="" class="block border-b border-gray-200 py-2 hover:text-custom-green">календарь соревнований</a>
            <a href="{% url 'competition_reports' %}" class="block border-b border-gray-200 py-2 hover:text-custom-green">протоколы соревнований</a>
            <a href="{% url 'competition_documents' %}" class="block py-2 hover:text-custom-green">документы о соревнованиях</a>
        </div>
      </div>
      <div class="relative group cursor-pointer">
        <a href="" class="p-4 font-medium transition duration-300 hover:bg-gray-100">мероприятия</a>
        <div class="space-y-2 absolute z-50 p-4 mt-4 text-sm font-semibold shadow-xl opacity-0 translate-y-2
                    transition-all w-max duration-300 ease-in-out invisible group-hover:visible group-hover:opacity-100
                    group-hover:translate-y-0 flex flex-col bg-white text-gray-500">
            <a href="" class="block border-b border-gray-200 py-2 hover:text-custom-green">анонс</a>
            <a href="" class="block border-b border-gray-200 py-2 hover:text-custom-green">мероприятия</a>
            <a href="" class="block py-2 hover:text-custom-green">сми о нас</a>
        </div>
      </div>
      <div class="relative group cursor-pointer">
        <a href="" class="p-4 font-medium transition duration-300 hover:bg-gray-100">галерея</a>
        <div class="space-y-2 absolute z-50 p-4 mt-4 text-sm font-semibold shadow-xl opacity-0 translate-y-2
                    transition-all w-max duration-300 ease-in-out invisible group-hover:visible group-hover:opacity-100
                    group-hover:translate-y-0 flex flex-col bg-white text-gray-500">
            <a href="" class="block border-b border-gray-200 py-2 hover:text-custom-green">видео</a>
            <a href="" class="block py-2 hover:text-custom-green">фото</a>
        </div>
      </div>
      <div class="relative group cursor-pointer">
        <a href="" class="p-4 font-medium transition duration-300 hover:bg-gray-100">контакты</a>
        <div class="space-y-2 absolute z-50 p-4 mt-4 text-sm font-semibold shadow-xl opacity-0 translate-y-2
                    transition-all w-max duration-300 ease-in-out invisible group-hover:visible group-hover:opacity-100
                    group-hover:translate-y-0 flex flex-col bg-white text-gray-500">
            <a href="" class="block py-2 hover:text-custom-green">контактная связь</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="w-52 hidden xl:flex justify-end items-center">
    <form action="{% url 'set_language' %}" method="post">
      {% csrf_token %}
      <div class="w-full">
        <select name="language" onchange="this.form.submit()"
                class="block w-32 cursor-pointer focus:border-gray-400 border-gray-400 appearance-none focus:ring-0 rounded-sm">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
              {{ lang.1 }}
            </option>
          {% endfor %}
        </select>
        <input type="hidden" name="next" value="{{ request.path }}">
      </div>
    </form>
  </div>
  <div class="xl:hidden">
    <button id="mobile-menu-button" class="w-8 h-4 flex flex-col justify-between">
      <div class="w-full h-0.5 bg-gray-500 transition-transform transform"></div>
      <div class="w-full h-0.5 bg-gray-500 transition-transform transform"></div>
      <div class="w-full h-0.5 bg-gray-500 transition-transform transform"></div>
    </button>
  </div>
</header>

<div class="hidden xl:hidden absolute uppercase shadow-sm w-full z-50 space-y-1 px-4 py-8 border-t border-t-gray-300 bg-white" id="mobile-menu">
  <div class="w-full px-2 mb-4 flex justify-end items-center">
    <form action="{% url 'set_language' %}" class="w-full" method="post">
      {% csrf_token %}
      <div class="relative inline-block w-full">
        <select name="language" onchange="this.form.submit()"
                class="block px-2 w-full cursor-pointer focus:border-gray-400 border-gray-400 appearance-none focus:ring-0 rounded-sm">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
              {{ lang.1 }}
            </option>
          {% endfor %}
        </select>
        <input type="hidden" name="next" value="{{ request.path }}">
      </div>
    </form>
  </div>
  <div class="group cursor-pointer">
    <div class="menuItems w-full p-4 flex justify-between items-center hover:bg-gray-100">
      <span class="font-medium">о нас</span>
      <svg class="menuItemArrow transition duration-200 rotate-90 w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg>
    </div>
    <div class="subMenu hidden px-8 text-sm font-semibold text-gray-500">
      <a href="{% url 'about_confederation' %}" class="block border-b border-gray-200 py-3 hover:text-custom-green">о азиатской конфедерации белбогли кураш</a>
      <a href="{% url 'about_guides' %}" class="block border-b border-gray-200 py-3 hover:text-custom-green">руководства</a>
      <a href="{% url 'about_documents' %}" class="block border-b border-gray-200 py-3 hover:text-custom-green">учредительные документы</a>
      <a href="{% url 'about_regulations' %}" class="block border-b border-gray-200 py-3 hover:text-custom-green">устав</a>
      <a href="{% url 'about_symbols' %}" class="block border-b border-gray-200 py-3 hover:text-custom-green">символы азиатской конфедерации белбогли кураш</a>
      <a href="{% url 'about_membership' %}" class="block border-b border-gray-200 py-3 hover:text-custom-green">членство в конфедерации</a>
    </div>
  </div>
  <div class="group cursor-pointer">
    <div class="menuItems w-full p-4 flex justify-between items-center hover:bg-gray-100">
      <span class="font-medium">белбогли кураш</span>
      <svg class="menuItemArrow transition duration-200 rotate-90 w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg>
    </div>
    <div class="subMenu hidden px-8 text-sm font-semibold text-gray-500">
      <a href="{% url 'kurash_history' %}" class="block border-b border-gray-200 py-3 hover:text-custom-green">история белбогли кураш</a>
      <a href="{% url 'kurash_rules' %}" class="block border-b border-gray-200 py-3 hover:text-custom-green">правила белбогли кураш</a>
      <a href="" class="block border-b border-gray-200 py-3 hover:text-custom-green">положения</a>
      <a href="" class="block border-b border-gray-200 py-3 hover:text-custom-green">антидопинг</a>
    </div>
  </div>
  <div class="group cursor-pointer">
    <div class="menuItems w-full p-4 flex justify-between items-center hover:bg-gray-100">
      <span class="font-medium">соревнования</span>
      <svg class="menuItemArrow transition duration-200 rotate-90 w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg>
    </div>
    <div class="subMenu hidden px-8 text-sm font-semibold text-gray-500">
      <a href="" class="block border-b border-gray-200 py-3 hover:text-custom-green">календарь соревнований</a>
      <a href="{% url 'competition_reports' %}" class="block border-b border-gray-200 py-3 hover:text-custom-green">протоколы соревнований</a>
      <a href="{% url 'competition_documents' %}" class="block border-b border-gray-200 py-3 hover:text-custom-green">документы о соревнованиях</a>
    </div>
  </div>
  <div class="group cursor-pointer">
    <div class="menuItems w-full p-4 flex justify-between items-center hover:bg-gray-100">
      <span class="font-medium">мероприятия</span>
      <svg class="menuItemArrow transition duration-200 rotate-90 w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg>
    </div>
    <div class="subMenu hidden px-8 text-sm font-semibold text-gray-500">
      <a href="" class="block border-b border-gray-200 py-3 hover:text-custom-green">анонс</a>
      <a href="" class="block border-b border-gray-200 py-3 hover:text-custom-green">мероприятия</a>
      <a href="" class="block border-b border-gray-200 py-3 hover:text-custom-green">сми о нас</a>
    </div>
  </div>
  <div class="group cursor-pointer">
    <div class="menuItems w-full p-4 flex justify-between items-center hover:bg-gray-100">
      <span class="font-medium">галерея</span>
      <svg class="menuItemArrow transition duration-200 rotate-90 w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg>
    </div>
    <div class="subMenu hidden px-8 text-sm font-semibold text-gray-500">
      <a href="" class="block border-b border-gray-200 py-3 hover:text-custom-green">видео</a>
      <a href="" class="block border-b border-gray-200 py-3 hover:text-custom-green">фото</a>
    </div>
  </div>
  <div class="group cursor-pointer">
    <div class="menuItems w-full p-4 flex justify-between items-center hover:bg-gray-100">
      <span class="font-medium">контакты</span>
      <svg class="menuItemArrow transition duration-200 rotate-90 w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg>
    </div>
    <div class="subMenu hidden px-8 text-sm font-semibold text-gray-500">
      <a href="" class="block border-b border-gray-200 py-3 hover:text-custom-green">контактная связь</a>
    </div>
  </div>
</div>

<script>
  const menuButton = document.getElementById('mobile-menu-button');
  const mobileMenu = document.getElementById('mobile-menu');
  const menuItems = document.querySelectorAll('.menuItems');

  menuButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });

  menuItems.forEach((item) => {
    const subMenu = item.parentNode.querySelector('.subMenu');
    const menuItemArrow = item.parentElement.querySelector('.menuItemArrow');

    item.addEventListener('click', (event) => {
      event.preventDefault();
      subMenu.classList.toggle('hidden');
      menuItemArrow.classList.toggle('rotate-90');
    });
  });
</script>
