{% load i18n %}

<div class="p-10 text-xl text-gray-500 flex flex-col justify-center items-center">
  <h1 class="uppercase mb-4">{% trans 'Следите за новостями' %}</h1>
  <div class="flex items-center space-x-2 text-white">
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
  </div>
</div>
