{% load i18n %}
{% load static %}

<div class="block lg:hidden pb-10 pt-6">
  <div class="flex justify-center text-2xl mb-10 px-4 font-bold uppercase">
    <span>{% trans 'НАШИ ПАРТНЕРЫ' %}</span>
  </div>

  <div class="flex flex-col justify-center items-center space-y-10">
    <img src="{% static 'img/sponsors/sponsors-1.png' %}" class="h-24">
    <img src="{% static 'img/sponsors/sponsors-2.png' %}" class="h-24">
    <img src="{% static 'img/sponsors/sponsors-3.png' %}" class="h-24">
    <img src="{% static 'img/sponsors/sponsors-4.png' %}" class="h-16">
    <img src="{% static 'img/sponsors/sponsors-5.png' %}" class="h-28">
    <img src="{% static 'img/sponsors/sponsors-6.png' %}" class="h-12">
  </div>
</div>
