{% load i18n %}
{% load static %}

<style>
  @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  .animate-slide {
    animation: slide 15s linear infinite;
  }
</style>

<div class="hidden xl:block my-14">
  <div class="text-2xl font-bold uppercase text-center">
    <span>{% trans 'НАШИ ПАРТНЕРЫ' %}</span>
  </div>

  <div class="relative overflow-hidden mt-10 h-24">
    <div class="animate-slide w-full flex items-center space-x-10">
      <img src="{% static 'img/sponsors/sponsors-1.png' %}" class="h-20">
      <img src="{% static 'img/sponsors/sponsors-2.png' %}" class="h-20">
      <img src="{% static 'img/sponsors/sponsors-3.png' %}" class="h-20">
      <img src="{% static 'img/sponsors/sponsors-4.png' %}" class="h-16">
      <img src="{% static 'img/sponsors/sponsors-5.png' %}" class="h-24">
      <img src="{% static 'img/sponsors/sponsors-6.png' %}" class="h-14">

      <img src="{% static 'img/sponsors/sponsors-1.png' %}" class="h-20">
      <img src="{% static 'img/sponsors/sponsors-2.png' %}" class="h-20">
      <img src="{% static 'img/sponsors/sponsors-3.png' %}" class="h-20">
      <img src="{% static 'img/sponsors/sponsors-4.png' %}" class="h-16">
      <img src="{% static 'img/sponsors/sponsors-5.png' %}" class="h-24">
      <img src="{% static 'img/sponsors/sponsors-6.png' %}" class="h-14">
    </div>

    <div class="absolute left-0 top-0 h-full w-12 bg-gradient-to-r from-white to to-transparent"></div>
    <div class="absolute right-0 top-0 h-full w-12 bg-gradient-to-l from-white to to-transparent"></div>
  </div>
</div>
