{% extends '_base.html' %}

{% load i18n %}
{% load static %}

{% block title %} {% trans 'Учредительные документы' %} {% endblock title %}
{% block content %}

{% include 'includes/header.html' %}

<div class="flex justify-center bg-gradient-to-tr from-custom-blue to-custom-green bg-green-500">
  <div class="xl:w-3/6 w-full xl:px-0 px-8 py-8">
    <h1 class="text-xl text-white font-semibold">{% trans 'Учредительные документы' %}</h1>
  </div>
</div>

<div class="px-8 py-4 bg-gray-100 lowercase">
  <a href="{% url 'home_page' %}" class="text-gray-500">{% trans 'Главная' %}</a> <span class="text-gray-400">></span> <a href="{% url 'about_confederation' %}" class="text-gray-500">{% trans 'о нас' %}</a> <span class="text-gray-400">></span> <a href="{% url 'about_documents' %}" class="text-blue-700">{% trans 'учредительные документы' %}</a>
</div>

<div class="flex justify-center">
  <div class="xl:w-3/6 w-full xl:px-0 px-8 py-8 space-y-4">
    {% if documents %}
      {% for document in documents %}
        {% if document.document %}
          <div class="flex items-center text-blue-700">
            <ion-icon name="download-outline" class="text-lg mr-1"></ion-icon>
            <a href="{{ document.document.url }}" download="{{ document.document.name }}">{{ document.title }}</a>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>

<div class="p-10 text-xl text-gray-500 flex flex-col justify-center items-center">
  <h1 class="uppercase mb-4">{% trans 'Следите за новостями' %}</h1>
  <div class="flex items-center space-x-2 text-white">
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
  </div>
</div>

{% include 'includes/footer.html' %}

{% endblock content %}
