{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %} {% trans 'Документы о соревнованиях' %} {% endblock title %}
{% block content %}

{% include 'includes/header.html' %}

<div class="flex justify-center bg-gradient-to-tr from-custom-blue to-custom-green bg-green-500">
  <div class="xl:w-3/6 w-full xl:px-0 px-8 py-8">
    <h1 class="text-xl text-white font-semibold">{% trans 'Документы о соревнованиях' %}</h1>
  </div>
</div>

<div class="flex justify-center">
  <div class="xl:w-3/6 w-full xl:px-0 px-8 py-8 space-y-4">
    {% if competition_documents %}
      {% for competition_document in competition_documents %}
        {% if competition_document.document %}
          <div class="flex items-center text-blue-700">
            <ion-icon name="download-outline" class="text-lg mr-1"></ion-icon>
            <a href="{{ competition_document.document.url }}" download="{{ competition_document.document.name }}">{{ competition_document.title }}</a>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>

<div class="p-10 text-xl text-gray-500 flex flex-col justify-center items-center">
  <h1 class="uppercase mb-4">{% trans 'Следите за новостями' %}</h1>
  <div class="flex items-center space-x-2 text-white">
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a class="w-12 h-12 flex justify-center items-center bg-custom-green" href="">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
  </div>
</div>

{% include 'includes/footer.html' %}

{% endblock content %}
