{% extends '_base.html' %}

{% load i18n %}
{% load static %}

{% block title %} {% trans 'календарь соревнований' %} {% endblock title %}
{% block content %}

{% include 'includes/header/header.html' %}

<div class="flex justify-center bg-gradient-to-tr from-custom-blue to-custom-green bg-green-500">
  <div class="xl:w-3/6 w-full xl:px-0 px-8 py-8">
    <h1 class="text-xl text-white font-semibold">{% trans 'календарь соревнований' %}</h1>
  </div>
</div>

<div class="flex justify-center">
  <div class="xl:w-3/6 w-full xl:px-0 px-8 py-8 space-y-4">
    {% if documents %}
      {% for document in documents %}
        {% if document.document %}
          <div class="flex items-center text-blue-700">
            <ion-icon name="download-outline" class="text-lg mr-1"></ion-icon>
            <a href="{{ document.document.url }}" download="{{ document.document.name }}">{{ document.title }}</a>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include 'includes/socials.html' %}

{% include 'includes/footer.html' %}

{% endblock content %}
