{% extends '_base.html' %}

{% load i18n %}
{% load static %}

{% block title %} {% trans 'сми о нас' %} {% endblock title %}
{% block content %}

{% include 'includes/header/header.html' %}

<div class="flex justify-center bg-gradient-to-tr from-custom-blue to-custom-green bg-green-500">
  <div class="xl:w-3/6 w-full xl:px-0 px-8 py-8">
    <h1 class="text-xl text-white font-semibold">{% trans 'сми о нас' %}</h1>
  </div>
</div>

<div class="flex justify-center">
  <div class="xl:w-3/6 xl:px-0 px-8 mt-8">

    <div class="flex flex-col space-y-4">
      {% for event in events_about_us %}
        <a href="{{ event.url }}" class="hover:underline">{{ event.title }}</a>
      {% endfor %}
    </div>

  </div>
</div>

{% include 'includes/socials.html' %}

{% include 'includes/footer.html' %}

{% endblock content %}
