{% extends 'base.html' %}

{% load static %}

{% block title %} Азиатская конфедерация белбогли кураш {% endblock title %}

{% block content %}

{% include 'includes/header.html' %}


<main class="mx-auto">


  <div class="container mx-auto mb-10">
    <div id="carousel" class="relative overflow-hidden w-full xl:h-[34rem] h-56">

      <div class="carousel-inner flex transition-transform duration-500 ease-in-out">
        {% for image in carousel %}
          <div class="carousel-item flex-none w-full xl:h-[34rem] h-56 flex items-center justify-center">
            <img src="{{ image.image.url }}" alt="{{ image.image.name }}" class="h-full w-full object-cover">
          </div>
        {% endfor %}
      </div>

      <button id="prev" class="absolute w-12 h-12 flex justify-center items-center top-1/2 transform -translate-y-1/2 left-4 bg-gray-700 rounded-full bg-opacity-50 text-2xl text-white">
        <ion-icon name="chevron-back-outline" class="mr-1"></ion-icon>
      </button>
      <button id="next" class="absolute w-12 h-12 flex justify-center items-center top-1/2 transform -translate-y-1/2 right-4 bg-gray-700 rounded-full bg-opacity-50 text-2xl text-white">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>

      <div class="absolute bottom-4 w-full flex justify-center">
        {% for image in carousel %}
          <button class="indicator w-3 h-3 opacity-50 bg-gray-700 rounded-full mx-1"></button>
        {% endfor %}
      </div>
    </div>
  </div>

</main>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const carousel = document.querySelector('#carousel');
    const carouselInner = carousel.querySelector('.carousel-inner');
    const prevButton = carousel.querySelector('#prev');
    const nextButton = carousel.querySelector('#next');
    const indicators = document.querySelectorAll('.indicator');
    const totalItems = carouselInner.children.length;
    const intervalTime = 3000;
    const pauseTime = 4000;
    let index = 0;
    let autoScrollInterval;

    function updateCarousel() {
      const offset = -index * 100;
      carouselInner.style.transform = `translateX(${offset}%)`;
      updateIndicators();
    }

    function updateIndicators() {
      indicators.forEach((indicator, i) => {
        indicator.classList.toggle('bg-gray-700', i !== index);
        indicator.classList.toggle('bg-gray-200', i === index);
        indicator.classList.toggle('opacity-100', i === index);
      });
    }

    function nextSlide() {
      if (index < totalItems - 1) {
        index++;
      } else {
        index = 0;
      }
      updateCarousel();
    }

    function startAutoScroll() {
      stopAutoScroll();
      autoScrollInterval = setInterval(nextSlide, intervalTime);
    }

    function stopAutoScroll() {
      clearInterval(autoScrollInterval);
    }

    function manualSwitch() {
      stopAutoScroll();
      setTimeout(startAutoScroll, pauseTime);
    }

    prevButton.addEventListener('click', () => {
      if (index > 0) {
        index--;
      } else {
        index = totalItems - 1;
      }
      updateCarousel();
      manualSwitch();
    });

    nextButton.addEventListener('click', () => {
      nextSlide();
      manualSwitch();
    });

    indicators.forEach((indicator, i) => {
      indicator.addEventListener('click', () => {
        index = i;
        updateCarousel();
        manualSwitch();
      });
    });

    startAutoScroll();
  });
</script>

{% include 'includes/footer.html' %}

{% endblock content %}
