{% extends 'base.html' %}

{% load static %}

{% block title %} Home Page {% endblock title %}

{% block content %}


{% include 'includes/header.html' %}

<!-- <img class="w-full" src="{% static 'img/temp/body-image.png' %}"> -->

<!-- <div class="grid grid-cols-3"> -->

    <!-- left-content -->
    <!-- <div class="col-span-2 bg-slate-300"> -->
        <!-- asd -->
    <!-- </div> -->
    <!-- left-content-end -->

    <!-- right-content -->
    <!-- <div class="col-span-1 bg-yellow-300"> -->
        <!-- asd asdasdfasd -->
    <!-- </div> -->
    <!-- right-content-end -->
<!-- </div> -->
<!-- {% include 'includes/footer.html' %} -->


{% endblock content %}
